* {
  background-color: rgb(121, 201, 105);
  width: 100%;
  color: white;
}

body {
  width: 100%;
  font-size: .25em;
  padding: 0em;
  margin: 0em;
}

main {
  width: 100%;
  min-height: 1000vh;
  background-color: aliceblue;
}

footer {
  width: 100%;
}

footer .upper-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0em 0em;
  margin-top: 5%
}

.upper-footer ul {
  padding-left: 0em;
}

h4 {
  text-transform: uppercase;
  margin: 1em 0;
}

p {
  line-height: 1.5;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input {
  display:flex;
  align-self: center;
  color:white;
  border: 1px solid white;
  border-radius: 25px;
  margin: 0 .5em;
  height: 2em;
}

hr {
  background-color: white;
  width: 90%;
  height: 1px;
  border: none;
}

::placeholder {
  font-size: .7em;
  color: white;
}

.about {
  width: 20%;
  padding-left: 5%;
  flex-direction: column;
}

.contact {
  padding-left: 5% ;
  padding-right: 5%;
  width: 40%;
  flex-direction: column;
  margin: 0 15em;
  
}

.media {
  padding-right: 5%;
  width: 20%;
  flex-direction: column
}

.subscribe {
  position: relative;
  display:flex;
  justify-content: flex-start;
  margin: 4em 0;
}

.contact li {
  line-height: 2;
}

input:first-of-type {
  width: 9em;
  padding: 0px 10px;
  margin-left: 0;
}

input:nth-of-type(2) {
  text-transform: uppercase;
  font-size: .7em;
  background-color: white;
  color: green;
  height: fit-content;
  width: fit-content;
  padding: 3em 5em;
  text-align: center;
}

/* .links ul{
  width: 100%;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  list-style: none;
  margin: 0;
} */

.lower-footer ul {
  display: flex;
  flex-direction:row;
}

.ownership {
  text-align: right;
  padding-right: 5%
}

