* {
  box-sizing: border-box;
  font-family: "Montserrat", "Work Sans", sans-serif;
}

nav {
  background-color: gray;
  width: 100%;
}

ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

li {
  font-family: "Work Sans";
  font-size: .5em;
  font-weight:bold;
  display: flex;
  list-style: none;
  margin: 0 5px;
}

a {
  display: inline-block;
}

a:hover {
  color: blue
}

.left {
  width:25%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.center {
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

.right {
  width: 25%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}