@media screen and (min-width:320px) {
  * {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    margin-left: 2vw;
    margin-right: 2vw;
  }

  h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh
  }

  h2 {
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

  .alert-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

  }

  .alert-info a {
    text-align: center;
    color:black;
    background-color: lightblue;
    text-decoration: none;
    padding: 2vh;
  }

  footer  p {
    margin-top: 10vh;
    margin-bottom: 5vh;
    font-size: 15px;
  }
  
  nav ul {
    padding: 0
  }

  nav ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

  nav ul li a {
    text-align: center;
    background-color: lightgray;
    padding: 2vh;
  }

  .header-img img {
    max-width: 100%;
    height: auto;
  }
  .responsive-image img {
    display: none;
  }

  .mobile-image img {
    display: block;
    margin: auto;
  }

  .sub-section{
    margin-top: 5vh;
  }
}
@media screen and (min-width:768px) {

  * {
    box-sizing: border-box;
  }

  body {
    display: flex;
    flex-flow: row wrap;
    padding: .5em
  }

  div {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  h1 {
    float: right;
  }

  h2 {
    display: inline-block;
    width: fit-content;
  }

  nav {
    width:50%;
    margin-left: auto;
  }

  img {
    width: 100%;
    height: auto;
  }

  p {
    font-size: 12px;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  nav ul li a{
    padding-top: 2em;
    background-color: white;
    font-size: 15px;
  }

  section {
    display: flex;
    flex-flow: column nowrap;
  }
  
  section:first-of-type {
    width: calc(60% - 1em);
    padding: 1em;
    margin: 0 auto;
  }

  section:last-of-type {
    width: calc(40% - 1em);
    padding: 1em;
    margin: auto;
  }

  .alert-info {
    display: none;
  }

  footer {
    width: 100%;
    margin-bottom: 0 2em;
  }
}