

body {
  background-image: url(../img/welcomePage.jpg);
  background-color: blanchedalmond;
  color: cornflowerblue;
  font-family: 'Montserrat', sans-serif;
}
  
li {
  list-style-type: disk;
  position: relative;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Josefin Sans", sans-serif;
  color: orange;
  text-decoration: underline;
}

.fancy-header {
  color: crimson;
  text-decoration: underline;
  text-align: center;
}

img {
  border-radius: 25%;
  padding-left: auto;
  margin-left: 80px;
}

#vision{
  text-align: center;
  font-size: 35px;
  text-decoration: underline;
  padding:0;
  margin:0;
}

#products{
  text-align: center;
}

th {
  color: cyan;
  font-size: 2rem
}

.process {
  margin: auto;
  padding-left: 40%;
}

.goals {
  margin: auto;
  padding-left: 70%;
}

.values {
  margin: auto;
  padding-left: 10%
}

.row{
  text-align: center;
  color: brown;
  padding: auto;
  border-style: solid;
  border: 20 20 20 20;
  border-color: orange;
}
.row>.price{
  padding: 2rem 15rem;
}

tr:nth-of-type(td){
  border-style: double;
}

a:hover{
  color: cyan;
}

a:link{
  color: orange;
}

a:visited{
  color: orange
}

a{
  color:cyan
}